<%- include("header") -%>
<body>
    <div class="test">
        <%- include("dropdown") -%>

        <h1>Departure Time: <%= firstDepart %></h1>
        <h1>Arrival Time: <%= firstArrival %></h1>
        <h1>2nd Departure Time: <%= secondDepart %></h1>
        <h1>2nd Arrival Time: <%= secondArrival %></h1>
    </div>
</body>
<%- include("footer") -%>