<%- include("header") -%>
<div>

  <div class="background">

    <div class="top-container">
      <div class="top-logo">
        <img src="/images/tram4u-final.png" alt="tram4u logo" />
        <h1>Trams4U</h1>
      </div>
      <%- include("dropdown") -%> <% if (locals.secondDepart !== null) { %>
    </div>


    <div class="results-container">
        <div class="headsign" style="background-color: <%= firstColour %>"><p><%= firstLineName %>: <%= firstHeadSign %></p></div>
        <div class="departure">
          <div class="departure-station" style="background-color: <%= firstColour %>">
            <p><%= firstDepartureName %></p>
          </div>
          <div class="departure-time">
            <p>
              <span>Departure at:</span><span><%= firstDepart %></span>
            </p>
            <p>
              <span>Leaving in:</span><span><%= firstResultMessage %></span>
            </p>
          </div>
        </div>
        <div class="arrival">
          <div class="arrival-station" style="background-color: <%= firstColour %>">
            <p><%= firstArrivalName %></p>
          </div>
          <div class="arrival-time">
            <p>
              <span>Arrival Time:</span><span><%= firstArrival %></span>
            </p>
            <p>
              <span>Duration:</span><span><%= firstDurationTime %></span>
            </p>
          </div>
        </div>
    </div>

    <div class="results-container">
        <div class="headsign" style="background-color: <%= secondColour %>"><%= secondLineName %>: <%= secondHeadSign %></div>
          <div class="departure">
            <div class="departure-station" style="background-color: <%= secondColour %>">
              <p><%= secondDepartureName %></p>
            </div>
            <div class="departure-time">
              <p>
                <span>Departure at:</span><span><%= secondDepart %></span>
              </p>
              <p>
                <span>Leaving in:</span><span><%= secondResultMessage %></span>
              </p>
            </div>
          </div>
          <div class="arrival">
            <div class="arrival-station" style="background-color: <%= secondColour %>">
              <p><%= secondArrivalName %></p>
            </div>
            <div class="arrival-time">
              <p>
                <span>Arrival Time:</span><span><%= secondArrival %></span>
              </p>
              <p>
                <span>Duration:</span><span><%= secondDurationTime %></span>
              </p>
            </div>
          </div>
    </div>

          <% } else { %>

    <div class="results-container">
        <div class="headsign" style="background-color: <%= firstColour %>"><%= firstLineName %>: <%= firstHeadSign %></div>
        <div class="departure">
          <div class="departure-station" style="background-color: <%= firstColour %>">
            <p><%= firstDepartureName %></p>
          </div>
          <div class="departure-time">
            <p>
              <span>Departure at:</span><span><%= firstDepart %></span>
            </p>
            <p>
              <span>Leaving in:</span><span><%= firstResultMessage %></span>
            </p>
          </div>
        </div>
        <div class="arrival">
          <div class="arrival-station" style="background-color: <%= firstColour %>">
            <p><%= firstArrivalName %></p>
          </div>
          <div class="arrival-time">
            <p>
              <span>Arrival Time:</span><span><%= firstArrival %></span>
            </p>
            <p>
              <span>Duration:</span><span><%= firstDurationTime %></span>
            </p>
          </div>
        </div>
    </div>
    
    <% } %>
        </div>
      </div>
    

    <%- include("footer") -%>
